<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hellojava">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:usesCleartextTraffic="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/Theme.HelloJava">

        <!-- MAIN LAUNCHER: must export -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- STATUS SCREEN: not exported to other apps -->
        <activity
            android:name=".StatusActivity"
            android:exported="false" />

        <!-- OBJECTS SCREEN: not exported -->
        <activity
            android:name=".ObjectsActivity"
            android:exported="false" />

    </application>
</manifest>
